@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .input {
        @apply p-2 border border-gray-500 rounded-md focus:ring-0 outline-none placeholder:text-gray-400;
    }
    .btn {
        @apply text-gray-900 bg-gradient-to-r from-teal-200 to-lime-200 hover:bg-gradient-to-l hover:from-teal-200 hover:to-lime-200 focus:ring-4 focus:outline-none focus:ring-lime-200 dark:focus:ring-teal-700 font-semibold rounded-lg text-base px-8 py-2.5 text-center me-2 mb-2;
    }
}
